<body class="align">
  <div class="grid">
    <form action="https://httpbin.org/post" method="POST" class="form login">
      <div class="form__field">
        <label for="tittle"><span class="hidden">TITULO</span></label>
        <input
          autocomplete="tittle"
          id="tittle"
          type="text"
          name="tittle"
          class="form__input"
          placeholder="TITULO"
          required
        />
      </div>

      <div class="form__field">
        <label for="img"> <span class="hidden">URL DE LA IMAGEN</span></label>
        <input
          id="img"
          type="text"
          name="img"
          class="form__input"
          placeholder="URL DE LA IMAGEN"
        />
      </div>
      <div class="form__field">
        <label for="img"> <span class="hidden">FECHA</span></label>
        <input
     
          id="date"
          type="date"
          name="date"
          class="form__input"
          min="2017-01-01"
          max="2100-04-30"

        />
      </div>
      <div class="form__field">
        <label for="img"> <span class="hidden">URL DE LA IMAGEN</span></label>

        <select name="select">
          <!--Etiqueta option-->
          <option value="value1" selected >PENDIENTE</option>
          <option value="value2" >PROGRESO</option>
          <option value="value2">FINALIZADA</option>
        </select>
      </div>
      

      <div class="form__field_save">
        <!-- <input type="submit" value="GUARDAR" /> -->
        <button  type="submit">GUARDAR</button>
      </div>
      <div class="form__field_cancel">
       
        <button>CANCELAR</button>
      </div>
    </form>
  </div>
</body>
