<div *ngIf="flag == false">
  <app-form></app-form>
</div>
<div *ngIf="flag == true">
  <div>
    <div class="bg">
      <div class="work-space">
        <h1>Pendientes</h1>
        <div *ngFor="let eq of tareas">
          <div class="card" *ngIf="eq.lista == 'Pendientes'">
            <p class="img-card" *ngIf="eq.img !== null">
              <img src="{{ eq.img }} " alt="image" />
            </p>

            <h3>
              {{ eq.titulo }}
            </h3>

            <div class="u-d">
              <div class="date" *ngIf="eq.fechaFin !== null">
                <span [ngClass]="{ cssClass: compareDate(eq.fechaFin) }">{{
                  eq.fechaFin
                }}</span>
              </div>
              <span *ngFor="let usuario of eq.usuarios">
                <div class="user" *ngIf="eq.img !== null">
                  <img class="img-user" [src]="usuario.img" alt="image" />
                </div>
              </span>
            </div>
          </div>
        </div>
        <button class="card" *ngIf="flag == true" (click)="hideData()">
          Nueva tarjeta
        </button>
      </div>

      <div class="work-space">
        <h1>Progreso</h1>
        <div *ngFor="let eq of tareas">
          <div class="card" *ngIf="eq.lista == 'Progreso'">
            <p class="img-card" *ngIf="eq.img !== null">
              <img src="{{ eq.img }} " alt="image" />
            </p>

            <h3>
              {{ eq.titulo }}
            </h3>

            <div class="u-d">
              <div class="date" *ngIf="eq.fechaFin !== null">
                <span [ngClass]="{ cssClass: compareDate(eq.fechaFin) }">{{
                  eq.fechaFin
                }}</span>
              </div>
              <span *ngFor="let usuario of eq.usuarios">
                <div class="user" *ngIf="eq.img !== null">
                  <div class="tooltip top">
                    <img class="img-user" [src]="usuario.img" alt="image" />
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
        <button class="card" *ngIf="flag == true" (click)="hideData()">
          Nueva tarjeta
        </button>
      </div>

      <div class="work-space">
        <h1>Finalizadas</h1>
        <div *ngFor="let eq of tareas">
          <div class="card" *ngIf="eq.lista == 'Finalizadas'">
            <p class="img-card" *ngIf="eq.img !== null">
              <img src="{{ eq.img }} " alt="image" />
            </p>

            <h3>
              {{ eq.titulo }}
            </h3>

            <div class="u-d">
              <div class="date" *ngIf="eq.fechaFin !== null">
                <span [ngClass]="{ cssClass: compareDate(eq.fechaFin) }">{{
                  eq.fechaFin
                }}</span>
              </div>
              <span *ngFor="let usuario of eq.usuarios">
                <div class="user" *ngIf="eq.img">
                  <img class="img-user" [src]="usuario.img" alt="image" />
                </div>
              </span>
            </div>
          </div>
        </div>
        <button class="card" *ngIf="flag == true" (click)="hideData()">
          Nueva tarjeta
        </button>
      </div>
    </div>
  </div>
</div>

